# Copy to terraform.tfvars (do NOT commit secrets)
region       = "ap-southeast-2"
project      = "starter"
env          = "dev"

rds_username = "appuser"
rds_db_name  = "appdb"

rabbit_user  = "app"
